In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
columns_to_load = ['trope_name', 'example_descriptions']
df = pd.read_csv("../data_raw/parsed_tropes.csv", usecols=columns_to_load, converters={
    'example_descriptions': (ast.literal_eval)
})

In [3]:
df.head()

              trope_name                               example_descriptions
0        Aardvark Trunks  [Princess Tutu : Anteaterina's snout is rather...
1         Abandoned Area  [MD Geist has plenty of these areas on Planet ...
2   Abandoned Camp Ruins  [Quizzical : From Chapter 4, "Heavy Traffic In...
3  Abandoned Catchphrase  [Birdie the Early Bird of McDonaldland had a t...
4     Abandoned Hospital  [The 6th episode of Bleach was set in an aband...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29903 entries, 0 to 29902
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   trope_name            29903 non-null  object
 1   example_descriptions  29903 non-null  object
dtypes: object(2)
memory usage: 467.4+ KB

In [5]:
filtered_df = df[df['example_descriptions'].apply(lambda x: len(x) > 0)]

In [6]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26677 entries, 0 to 29902
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   trope_name            26677 non-null  object
 1   example_descriptions  26677 non-null  object
dtypes: object(2)
memory usage: 625.2+ KB

In [7]:
num_random_tropes = 2667
random_rows = filtered_df.sample(n=num_random_tropes)

In [8]:
random_rows.head()

,trope_name,example_descriptions
17269,Nobody Calls Me Chicken,[Vegeta in Dragon Ball Z is goaded by Cell int...
2212,Bathroom Stall Of Angst,"[During a flashback in Ojojojo , Haru went to ..."
22780,Shouldnt We Be In School Right Now,"[Yu-Gi-Oh! (in the manga, at least): The two m..."
5123,Corrupted Contingency,"[The Authority :, The G7 cabal who gave Seth h..."
14734,Locked Door,"[In ANNO: Mutationem , most areas have a locke..."

In [9]:
random_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2667 entries, 17269 to 23882
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   trope_name            2667 non-null   object
 1   example_descriptions  2667 non-null   object
dtypes: object(2)
memory usage: 62.5+ KB

In [10]:
#Expanding the rows
expanded_df = random_rows.explode('example_descriptions')

In [11]:
expanded_df.head()

,trope_name,example_descriptions
17269,Nobody Calls Me Chicken,Vegeta in Dragon Ball Z is goaded by Cell into...
17269,Nobody Calls Me Chicken,"In Eyeshield 21 , after Leonard Apollo arrogan..."
17269,Nobody Calls Me Chicken,Food Wars! : Soma provokes Etsuya Eizan into c...
17269,Nobody Calls Me Chicken,During the climax of JoJo's Bizarre Adventure:...
17269,Nobody Calls Me Chicken,The titular character of Kenichi: The Mighties...

In [12]:
expanded_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 349391 entries, 17269 to 23882
Data columns (total 2 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   trope_name            349391 non-null  object
 1   example_descriptions  349391 non-null  object
dtypes: object(2)
memory usage: 8.0+ MB

In [14]:
expanded_df.to_csv('../data_raw/parsed_tropes_random_examples.csv', index=False, sep='\t', quoting=1)

In [17]:
df_examples = pd.read_csv('../data_raw/parsed_tropes_random_examples.csv', delimiter='\t', quoting=1)

In [18]:
df_examples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349391 entries, 0 to 349390
Data columns (total 2 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   trope_name            349391 non-null  object
 1   example_descriptions  349023 non-null  object
dtypes: object(2)
memory usage: 5.3+ MB